### Python ###
__pycache__/
*.py[cod]

.coverage
.coverage.*
.cache
.pytest_cache/
reports/test-coverage/

# Environments
.env
.venv

# mypy
.mypy_cache/

### macOS ###
# General
.DS_Store

### JetBrains ###
.idea/

### Project Files ###
.local/
